<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--GENERAL SETTINGS-->

			<!--TURN ON WINDOW LABELS (0 = OFF; 1 = ON)-->
			<add key="window_labels" value="0" />
		
			
			<!--MAIN WINDOW SECRET EXIT BUTTON TIMER MSECS (TIME TO REFRESH CLICK COUNTER)-->
			<add key="main_window_exit_button_timer" value="3000" />
		
			<!--MAIN WINDOW SECRET BUTTON CLICKS TO EXIT-->
			<add key="main_window_exit_button_clicks" value="10" />
		
			<!--TARGET GROUP NAME-->
			<add key="target_group" value="L1-ST-CO" />
			
		<!--GENERAL SETTINGS/-->
		
		
		<!--ERROR STRINGS-->
		
			<!--INCORRECT REQUEST NUMBER (WRONG FORMAT)-->
			<add key="incorrect_req_number" value="Введенный номер заявки имеет некорректный формат. Проверьте правильность ввода. " />
		
			<!--INCORRECT LDAP (WRONG FORMAT)-->
			<add key="incorrect_LDAP" value="Введён некорректный LDAP. Проверьте правильность ввода. " />
		
			<!--NO USER FOUND IN AD-->
			<add key="no_user_found" value="Пользователь не найден. Проверьте правильность ввода." />
		
			<!--ASK USER IF HE WATNS TO SEARCH FOR HIS INC USING LDAP OR EMAIL-->
			<add key="ask_to_search_with_LDAP_or_email" value="Сомневаешься в правильности номера заявки? Нажми на кнопку справа, чтобы осуществить поиск по LDAP или электронной почте." />
		
			<!--IF USER WANTS TO CHECK THE INPUT DATA-->
			<add key="check_input_data" value="Чтобы проверить ввод нажми кнопку 'Назад' " />
			
			<!--REQUEST NOT FOUND-->
			<add key="request_not_found" value="Заявка с таким номером не найдена! " />
		
			<!--THE REQUEST WAS FOUND BUR USER WAS SEARCHING FOR ANOTHER ONE-->
			<add key="wrong_request" value="Ищешь другую заявку?" />
		
			<!--RESPONSIBLE GROUP DIFFERTS FROM TARGET-->
			<add key="wrong_group" value="Твоей заявкой занимается другая группа технической поддержки. Мы можем проконсультировать тебя по статусу заявки и возможным вариантам ускорения её решения. Тебе нужна консультация?" />
		
			<!--REQUEST IS CLOSED-->
			<add key="wrong_status" value="Статус твоего обращения - Закрыто. Действия с этим обращением невозможны. Создать новое обращение? " />
		
			<!--ASK USER IF HE WANTS TO END CURRENT SESSION-->
			<add key="end_session" value="Завершить работу с терминалом?" />
		
		<!--ERROR STRINGS/-->
		
		<!--MAIN WINDOW STRINGS-->
			
			<!--INTRODUCTION LABEL CONTENT (TOP)-->
			<add key="main_window_introduction_label_content" value="Вас приветствует терминал электронной очереди HelpDesk CO" />
			<!--INTRODUCTION LABEL FONT SIZE-->
			<add key="main_window_introduction_label_font_size" value="70" />
		
			<!--ACTION CHOICE LABEL CONTENT(UNDER INTRODUCTION LABEL)-->
			<add key="main_window_action_choice_label_content" value="Выберите действие:" />
			<!--ACTION CHOICE LABEL FONT SIZE-->
			<add key="main_window_action_choice_label_font_size" value="70" />
		
			<!--LEFT BUTTON CONTENT-->
			<add key="main_window_left_button_content" value="Найти заявку" />
			
			<!--RIGHT BUTTON CONTENT-->
			<add key="main_window_right_button_content" value="Создать заявку" />
		
		<!--MAIN WINDOW STRINGS/-->
		
		
		<!--POPUP WINDOW SETTINGS-->
			<!--TEXTBOX FONT SIZE-->
			<add key="popup_window_font_size" value="35" />
		
			<!--RIGHT BUTTON IF USER WANTS TO SEARCH VIA LDAP/EMAIL-->
			<add key="popup_window_right_button_ldap_or_email" value="LDAP/EMAIL" />
		<!--POPUP WINDOW SETTINGS/-->
		
		<!--LDAP/EMAIL SEARCH WINDOW SETTINGS-->
			<!--MAIN LABEL CONTENT-->
			<add key="ldap_search_window_main_label_content" value="Введите свой LDAP или электронную почту:" />
			<!--MAIN LABEL FONT SIZE-->
			<add key="ldap_serach_window_main_label_font_size2" value="70" />
		
		<!--LDAP/EMAIL SEARCH WINDOW SETTINGS/-->
		
		<!--CONFIRMATION WINDOW SETTINGS-->
			<!--INSERT INTO QUERY BUTTON-->
			<add key="confirmation_window_insert_button" value="Поместить в очередь" />
		
		<!--CONFIRMATION WINDOW SETTINGS/-->
		
		<!--REQUEST CREATION WINDOW SETTINGS-->
			<!--MAIN LABEL CONTENT-->
			<add key="creation_window_main_label_content" value="Выберите тему заявки:" />
		
			<!--BUTTONS (NEW LINE SYMBOL = &#xa;)-->
				<!--BUTTON 1 CONTENT-->
				<add key="button_1_content" value="Консультация" />
				<!--BUTTON 1 FONT SIZE-->
				<add key="button_1_font_size" value="70" />
		
				<!--BUTTON 2 CONTENT-->
				<add key="button_2_content" value="Проблема с&#xA;компьютером&#xA;или программой" />
				<!--BUTTON 2 FONT SIZE-->
				<add key="button_2_font_size" value="70" />
		
				<!--BUTTON 3 CONTENT-->
				<add key="button_3_content" value="ВКС" />
				<!--BUTTON 3 FONT SIZE-->
				<add key="button_3_font_size" value="70" />

				<!--BUTTON 4 CONTENT-->
				<add key="button_4_content" value="Выдача&#xA;дополнительного&#xA;оборудования" />
				<!--BUTTON 4 FONT SIZE-->
				<add key="button_4_font_size" value="70" />
		
				<!--BUTTON 5 CONTENT-->
				<add key="button_5_content" value="Выдача&#xA;временного&#xA;оборудования" />
				<!--BUTTON 5 FONT SIZE-->
				<add key="button_5_font_size" value="70" />
		<!--BUTTONS/-->
		
		<!--REQUEST CREATION WINDOW SETTINGS-->
		
	
		<!--HARDWARE CHOOSING WINDOW SETTINGS-->
			<!--CHECKBOXES STRINGS (CheckBoxes numbers count from top left to bottom right by rows; if CheckBox is not defined below, it won't be created)-->
      <add key="CheckBox1" value="Кабели" />
			<add key="CheckBox2" value="Клавиатура" />
      <add key="CheckBox3" value="Flash-накопители" />
			<add key="CheckBox4" value="Мышь" />
      <add key="CheckBox5" value="Зарядные устройства" />
			<add key="CheckBox6" value="Док-станция" />
      <add key="CheckBox7" value="Переходники" />
			<add key="CheckBox8" value="Мобильный телефон" />
			<add key="CheckBox9" value="Камера" />
		 <!--CHECKBOXES STRINGS-->  
    <!--HARDWARE CHOOSING WINDOW SETTINGS-->
  
    <!--CABLES CHOOSING SETTINGS-->
      <!--CHECKBOXES STRINGS (same idea as hardware choosing checkboxes)-->
      <add key="CheckBox1_cable" value="HDMI-HDMI" />
      <add key="CheckBox2_cable" value="HDMI-Display Port" />
      <add key="CheckBox3_cable" value="Mirco USB" />
      <add key="CheckBox4_cable" value="USB Type C" />
      <add key="CheckBox5_cable" value="Ethernet" />
      <add key="CheckBox6_cable" value="AUX" />
      <add key="CheckBox7_cable" value="Кабель питания" />
      <add key="CheckBox8_cable" value="Другой" />
      <!--CHECKBOXES STRINGS-->
    <!--CABLES CHOOSING SETTINGS-->
  
    <!--CHARGERS CHOOSING SETTINGS-->
         <!--CHECKBOXES STRINGS (same idea as hardware choosing checkboxes)-->
      <add key="CheckBox1_charger" value="ЗУ для мобильного (Micro USB)" />
      <add key="CheckBox2_charger" value="ЗУ для мобильного (Type C)" />
      <add key="CheckBox3_charger" value="ЗУ для ноутбука Lenovo" />
      <add key="CheckBox4_charger" value="ЗУ для ноутбука HP" />
      <add key="CheckBox5_charger" value="Другое зарядное устройство" />
      <!--CHECKBOXES STRINGS-->
       
  
    <!--CHARGERS CHOOSING SETTINGS-->
        <!--CHECKBOXES STRINGS (same idea as hardware choosing checkboxes)-->
      <add key="CheckBox1_connector" value="Ethernet - USB Type C" />
      <add key="CheckBox2_connector" value="VGA - HDMI" />
      <add key="CheckBox3_connector" value="HDMI - Display Port" />
      <add key="CheckBox4_connector" value="VGA - USB Type C" />
      <add key="CheckBox5_connector" value="Другой переходник" />
  

    <!--CONNECTORS CHOOSING SETTINGS-->
      
      
    
    <!--CONNECTORS CHOOSING SETTINGS-->



  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>